body{
	background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/background.png?version=1&modificationDate=1268896312000);
	margin:0 0 0 0;
}
div.head{
	margin:0 0 0 0;
	background-image: url(bannerbackground.png);
	background-repeat: repeat-x;
	text-align: center;
}	

p.TMNT{
	text-align: center;
	font-family:Tahoma, Verdana ;
	font-size: 24pt;
	font-weight: bold;
}
div.poster{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-color: gray;
	border-radius: 4px;
	border-style: solid;
	position: relative;
}
div.rotten{
	background-image: url(http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rottenbackground.png?version=1&modificationDate=1268896385000);
	background-repeat: repeat-x;
	font-family: Verdana, Tahoma;
	font-size:10pt;
	max-height: 95px;
}
div.main{
	max-width:800px;
	height: 820px;
	position: relative;

}
div.left{
	max-width: 550px;
	position: relative;
	float: left;
}
div.right{
	max-width: 250px;
	position: relative;
	float: left;
}
div.leftComment{
	width:47%;
	position:static;
	float: left;
	margin-left: 2%;
}
div.rightComment{
	width: 47%;
	float: right;
	margin-right: 2%;
}
q,p{
	font-size: 8pt;
	font-family: Verdana, Tahoma;
}
p.red{
	font-size:48pt;
	color:red;
	position: relative;
	left:100px;
	bottom:80px;
	float: top;
	margin:0;
}
p.white{
	font-size:8pt;
	color: white;
	position: relative;
	left:285px;
	bottom:100px;
	margin:0;
}
blockquote{
	background-color:#E1D697; 
	font-size:8pt;
	font-weight: bold;
	font-family: Verdana, Tahoma;
	border-color: gray;
	border-radius: 2px;
	border-style: solid;
	min-height: 25px;
	padding: 8px;
	margin:0;
}
span.tomato{
	position: relative;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
span.personIcon{
	position: relative;
	float: left;
	margin-right: 5px;
}
dl{
	background-color: #A2B964;
	font-size: 8pt;
	font-family: Arial,Verdana;
	margin:0;
	padding:10px;
}
dt{
	font-weight: bold;
}
dd{
	margin-bottom: 1em;
}
div.turtle{
	margin:0;
	background-color: #A2B964;
}
p.critic{
	position: relative;
	margin-left: 10px;
	min-height: 40px;

}
div.foot{
	width:800px;
	height:20px;
	background-color: #A2B964;
	text-align: center;

}
div.link{
	position: fixed;
	right: 0;
	bottom:0;
}
img.w3c{
	border:none;
}