html,body{
	height: 100%;
	width:100%;
	overflow: hidden;
	margin:0px;
	padding:0px;
}
#at-plus-container{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width:200px;
	height:100%;
}
#bottom-positioner{
	position: absolute;
	width:100%;
	bottom:0;
}
#info-bar{
	position: absolute;
	bottom: 70px;
	left:40px;
	width:130px;
	height: 130px;
	border-radius: 50%;
	background-color: #9E9E9E;
	transition: all 0.3s;
	opacity: 0;
}
#button:hover #info-bar{
	bottom: 200px;
	left:40px;
	opacity: 1;
}
#info-bar ul{
	margin:0px;
	padding:0px;
}
#info-bar li{
	width:130px;
	height: 30px;
	text-align: center;
	color:white;
}
#info-bar li.user{
	margin-top:10px;
	font-size: 20px;
}
#info-bar li.comment{
	font-size: 32px;
	font-weight:bold;
}
#info-bar li.mine{
	margin-top: 10px;
	width: 40px;
	display: inline-block;
	color: #43daaa;
	font-weight: bold;
}
#info-bar li.like{
	position: absolute;;
	left:70px;
}
#info-bar li.posted{
	position: absolute;
	left:15px;
}
#control-ring-container{
	position: absolute;
	bottom: 30px;
	left:0;
	width:190px;
	height: 190px;
	border-radius: 50%;
}
li{
	list-style: none;
}
#control-ring-container li{
	position: absolute;
	display: block;
	width:30px;
	height: 30px;
	border-radius: 50%;
	border:#9E9E9E solid 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #9E9E9E;
	background-size: 20px 20px;
	margin-top: 50px;
	margin-left: 40px;
	transition: all 0.3s;
	opacity: 0;
}
#button:hover #control-ring-container li{
	opacity: 1;
}
span.unread{
	text-align: center;
	line-height: 100%;
	color: white;
	display:block;
	height: 16px;
	width: 16px;
	border:red solid 2px;
	border-radius: 100%;
	background-color: red;
	position: relative;
	left: 60%;
	bottom:50%;
}
#control-ring-container li:nth-child(1){
	background-image: url(assets/images/nomask.png);
}
#button:hover #control-ring-container li:nth-child(1){
	margin-top: 0px;
	margin-left: -5px;
}
#control-ring-container li:nth-child(2){
	background-image: url(assets/images/history.png);
}
#button:hover #control-ring-container li:nth-child(2){
	margin-top: 40px;
	margin-left:-35px;
}
#control-ring-container li:nth-child(3){
	background-image: url(assets/images/message.png);
}
#button:hover #control-ring-container li:nth-child(3){
	margin-top: 90px;
	margin-left: -30px;
}
#control-ring-container li:nth-child(4){
	background-image: url(assets/images/setting.png);
}
#button:hover #control-ring-container li:nth-child(4){
	margin-top: 125px;
	margin-left: 10px;
}
#control-ring-container li:nth-child(5){
	background-image: url(assets/images/signin.png);
}
#button:hover #control-ring-container li:nth-child(5){
	margin-top: 125px;
	margin-left: 60px;
}
#button{
	width:60px;
	height: 60px;
}
#button .apb{
	width:30px;
	height:30px;
	border-radius: 50%;
	position: absolute;
 	left:85px;
 	bottom: 115px;
 	background-image: url(assets/images/atplus_white.png);
 	background-size: 25px 20px;
 	background-color: rgba(120, 120, 120, 1);
 	background-repeat: no-repeat;
 	background-position:center;
 	transition: all 0.3s;
 }

#button:hover .apb{
	width:50px;
	height:50px;
 	left:75px;
 	bottom: 105px;
 	background-image: url(assets/images/atplus_green.png);
 	background-size: 40px 30px;
 	background-color: rgba(48, 63, 159, 1);
 }